.abt_sec {
    background-color: #fefefd;

    .abt_otr {
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        padding: 5rem 8rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 8rem;
        margin-top: -15rem;
        position: relative;
        z-index: 3;
        background-color: $Color_White;

        .abt_inr {

            img {
                width: 47.7rem;
                height: 47.2rem;
                object-fit: contain;
            }

            h3 {
                font-size: 4.5rem;
                position: relative;
                margin-bottom: 5rem;
                padding-bottom: 2rem;

                &:after {
                    position: absolute;
                    content: '';
                    width: 11rem;
                    height: 1.1rem;
                    background: $Color_red;
                    border-radius: 10rem;
                    bottom: 0;
                    left: 0;
                }


            }

            p {
                padding-bottom: 6rem;
            }
        }
    }

    .hdch_otr {
        margin-top: 15rem;
        display: grid;
        grid-template-columns: 40% 35%;
        justify-content: center;
        place-items: center;
        grid-column-gap: 10rem;

        .hdch_inr {
            h2 {
                font-size: 4.5rem;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 5rem;
            }

            p {
                margin-bottom: 5rem;
            }
        }
    }
}


@media (max-width: 1199px) {

    .abt_sec .abt_otr {
        margin-top: -11rem;
    }

}

@media (max-width: 1080px) {

    .abt_sec .abt_otr {
        margin-top: 5rem;
    }

}

@media (max-width: 840px) {

    .abt_sec .abt_otr .abt_inr h3 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    .abt_sec .abt_otr .abt_inr h3:after {
        height: 0.5rem;
    }

    .abt_sec .abt_otr .abt_inr img {
        width: 35rem;
        height: 35rem;
        object-fit: contain;
    }

    .abt_sec .hdch_otr {
        grid-template-columns: 45% 45%;
        grid-column-gap: 5%;
    }

    .abt_sec .hdch_otr .hdch_inr h2 {
        font-size: 3.5rem;
    }

    .abt_sec .hdch_otr .hdch_inr h2 br {
        display: none;
    }
}

@media (max-width: 767px) {

    .abt_sec .abt_otr {
        grid-template-columns: 1fr;
        grid-row-gap: 5rem;

        .abt_inr {
            text-align: center;
        }
    }

    .abt_sec .abt_otr .abt_inr h3 {
        text-align: center;
        display: inline-block;
    }

    .abt_sec .hdch_otr {
        grid-template-columns: 1fr;
        grid-row-gap: 5rem;

        .hdch_inr {
            text-align: center;

            img {
                width: 60%;
                margin-inline: auto;
            }
        }
    }
}

@media (max-width: 575px) {

    .abt_btn .btn,
    .hdch_btn .btn {
        font-size: 1.8rem;
        width: 16rem;
        padding: 1.5rem 0;
    }
}



@media (max-width: 484px) {

    .abt_sec .abt_otr {
        padding: 5rem 5rem;
    }
}

@media (max-width: 420px) {

    .abt_sec .abt_otr {
        padding: 5rem 3rem;
        border-radius: 0;
        width: 95%;
        margin-inline: auto;
    }

    .abt_sec .hdch_otr .hdch_inr img {
        width: 70%;
    }

    .abt_sec .hdch_otr {
        margin-top: 8rem;
    }

    .abt_sec .abt_otr .abt_inr h3 {
        font-size: 3rem;
    }

    .abt_sec .hdch_otr .hdch_inr h2 {
        font-size: 3rem;
    }

    .abt_sec .abt_otr .abt_inr img {
        width: 30rem;
        height: 30rem;
    }
}