.corona_case_sec {
    padding: 13rem 0;
    background-color: #f5f4f3;

    h2 {
        font-size: 4.5rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 3rem;
    }

    p {
        width: 56%;
        margin-inline: auto;
        text-align: center;
    }

    .case_otr {
        width: 95%;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;

        .case_inr {
            width: 32%;
            min-height: 76rem;
            background-color: $Color_White;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            padding: 3rem;
            position: relative;
            transition: $transition;
            border-radius: 1rem;

            &:hover .img_otr .cs_btn {
                top: 50%;
            }

            &:hover .img_otr img {
                scale: 1.2;
            }


            &:after {
                position: absolute;
                content: "";
                background-image: url(../images/corona_logo.png);
                width: 8.5rem;
                height: 8.5rem;
                background-size: 100% 100%;
                object-fit: contain;
                bottom: -5%;
                left: 50%;
                transform: translateX(-50%);
            }

            .img_otr {
                width: 100%;
                height: 33rem;
                margin-bottom: 5rem;
                position: relative;
                overflow: hidden;
                transition: $transition;

                .cs_btn {
                    position: absolute;
                    top: 150%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: $transition;

                    .btn {
                        background-color: $Color_red;

                        border: 1px solid $Color_red;

                        &:after {
                            background-color: $Primary_Color;
                        }

                        &:hover {
                            border: 1px solid $Primary_Color;
                        }
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: $transition;
            }

            h6 {
                margin-bottom: 2rem;
                font-size: 3.2rem;
                text-align: center;
            }
        }

        p {
            width: auto;
        }
    }

    .doctor_say {
        margin-top: 10rem;
        position: relative;
        isolation: isolate;

        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/corona_virus_light_logo.png);
            width: 12rem;
            height: 12rem;
            object-fit: contain;
            bottom: 0;
            left: 2%;
            background-size: 100% 100%;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/corona_virus_light_logo.png);
            width: 12rem;
            height: 12rem;
            object-fit: contain;
            top: 0;
            right: 2%;
            background-size: 100% 100%;
            z-index: -1;
        }

        h2 {
            margin-bottom: 7rem;
        }

        .dctr_sy_otr {
            display: flex;
            justify-content: center;
            gap: 5rem;
        }

        .dctr_sy_inr {
            width: 60rem;
            padding: 3rem;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            border-radius: 1rem;

            .img_otr {
                width: 11rem;
                height: 11rem;
                margin-inline: auto;
                border-radius: 50%;
                overflow: hidden;
                margin-top: -9rem;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }

            h6 {
                font-size: 2rem;
                text-align: center;
                margin-block: 4rem;
            }

            p {
                width: auto;
            }

            .quote {
                width: 3rem;
                height: auto;
                margin-inline: auto;
                margin-block: 4rem;
            }
        }

        .evry_updt {
            margin: 0;
            padding: 0;
            margin-top: 4rem;
        }
    }
}





/* Responsive */

@media(max-width: 1800px) {

    .corona_case_sec p {
        width: 90%;
    }

    .corona_case_sec .case_otr .case_inr .img_otr {
        height: 26rem;
    }
}


@media(max-width: 991px) {

    .corona_case_sec .case_otr .case_inr .img_otr {
        height: auto;
    }

    .corona_case_sec .case_otr {
        flex-direction: column;
        justify-content: center;
        row-gap: 10rem;
    }

    .corona_case_sec .case_otr .case_inr {
        width: 70%;
        margin-inline: auto;
        padding-bottom: 8rem;
    }
}

@media(max-width: 900px) {

    .corona_case_sec .doctor_say .dctr_sy_otr {
        gap: 3%;
        padding-bottom: 8rem;
    }

    .corona_case_sec .doctor_say .dctr_sy_inr {
        width: 45%;
    }

    .corona_case_sec {
        padding: 8rem 0;
    }
}

@media(max-width: 840px) {

    .corona_case_sec h2 {
        font-size: 3.5rem;
    }
}

@media(max-width: 767px) {
    .corona_case_sec .doctor_say .dctr_sy_otr {
        flex-direction: column;
        row-gap: 10rem;
    }

    .corona_case_sec .doctor_say .dctr_sy_inr {
        width: 70%;
        margin-inline: auto;
    }
}

@media(max-width: 575px) {

    .corona_case_sec .case_otr .case_inr {
        width: 85%;
    }

    .corona_case_sec .case_otr .case_inr .img_otr .cs_btn .btn {
        font-size: 1.8rem;
        width: 16rem;
        padding: 1.5rem 0;
    }

    .corona_case_sec .doctor_say .dctr_sy_inr {
        width: 85%;
    }
}

@media(max-width: 420px) {
    .corona_case_sec .case_otr .case_inr {
        width: 100%;
    }

    .corona_case_sec .doctor_say .dctr_sy_inr {
        width: 95%;
    }

    .corona_case_sec h2 {
        font-size: 3rem;
    }
}