.ftr_sec {
    padding-top: 10rem;
    background-color: $Color_black;

    .ftr_otr {
        display: grid;
        grid-template-columns: repeat(4, 23%);
        justify-content: center;
        grid-column-gap: 2%;
        width: 70%;
        margin-inline: auto;
        padding-bottom: 7rem;

        .ftr_inr:nth-child(2) {
            padding-right: 4rem;
        }

        h4 {
            color: $Color_White;
            font-size: 2.4rem;
            margin-bottom: 3rem;
        }

        .ftr_links a {
            display: block;
            color: $Color_White;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            transition: $transition;
            width: fit-content;

            &:hover {
                color: $Color_red;
            }
        }

        .ftr_para {
            color: $Color_White;
            font-size: 1.8rem;
        }

        .contact_links {

            a,
            p {
                color: $Color_White;
                display: block;
                margin-bottom: 1.5rem;
                display: flex;
                gap: 2rem;
                align-items: baseline;
                font-size: 1.8rem;
                transition: $transition;
                width: fit-content;

                &:hover {
                    color: $Color_red;
                }
            }
        }
    }

    .cpy_right_text {
        text-align: center;

        p {
            color: $Color_White;
            font-size: 1.8rem;
            padding-block: 3rem;
            display: inline-block;
            padding-inline: 20rem;
            border-top: 1px solid #4f4f4f;

            a {
                color: $Color_White;
                transition: $transition;

                &:hover {
                    color: $Color_red;
                }
            }
        }
    }
}

/* Responsive */

@media(max-width: 1800px) {

    .ftr_sec .ftr_otr {

        width: 85%;
    }

    @media (max-width:991px) {

        .ftr_sec .ftr_otr {
            grid-template-columns: repeat(2, 40%);
            grid-row-gap: 3rem;
        }

        .ftr_sec .ftr_otr {
            width: 100%;
        }

        .ftr_sec .ftr_otr .ftr_inr:nth-child(2) {
            padding-right: 0rem;
        }
    }

}

@media (max-width:575px) {

    .ftr_sec .ftr_otr {
        grid-template-columns: 1fr;
    }

    .ftr_sec .ftr_inr {
        text-align: center;
    }

    .ftr_sec .ftr_otr .ftr_links a,
    .ftr_sec .ftr_otr .contact_links a,
    .ftr_sec .ftr_otr .contact_links p {
        margin-inline: auto;
    }

    .ftr_sec .ftr_inr img {
        margin-inline: auto;
    }

    .ftr_sec .cpy_right_text p {
        display: block;
        padding-inline: 0rem;
    }

    .ftr_sec .ftr_otr .ftr_para {
        padding-inline: 10px;
    }
}