@import "mixins";
@import "config";
@import "general";
@import "header";
@import "banner";
@import "about";
@import "protect";
@import "corona-case";
@import "form";
@import "footer";


#btn-back-to-top {
    width: 4rem;
    height: 4rem;
    background-color: $Color_red;
    color: $Color_White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50px;
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    cursor: pointer;
    z-index: 5555;
    transition: $transition;
    border: 1px solid $Color_red;
    font-size: 1.8rem;
}

// ! Pre Loader

#pre_Loader {
    background-color: $Primary_Color;
    width: 100%;
    height: 100vh;
    z-index: 222222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: $Color_red;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}